<div class="container">
  <div class="row">
    <div class="col-md-1">

    </div>
    <div class="col-md-10">
      <div class="d-flex align-items-center">
        <h1>編集</h1>
        <div class="ml-auto posts_button">
          <%= link_to '投稿一覧に戻る', posts_path, class: 'btn btn-outline-info' %>
        </div>
      </div>
      <%= form_for @post do |f| %>

      <div class="form-group mt-3">
        <%= f.label :name, '部活・サークル名' %>
        <%= f.text_field :name , class: 'form-control'%>
        <small id="name-tip" class="form-text text-muted">
          部活・サークル名を入力してください
        </small>
      </div>

      <div class="mt-3">
        <%= f.label :genre, 'ジャンル' %>
        <p>
          <label><%= f.radio_button :genre, "運動系" %> 運動系 </label>
          <label><%= f.radio_button :genre, "文化系", class: 'ml-2' %> 文化系</label>
          <small id="genre-tip" class="form-text text-muted">
            ジャンルを選択してください
          </small></p>
        </div>

        <div class="form-group mt-3">
          <%= f.label :school, '学校' %>
          <%= f.text_field :school, class: 'form-control'  %>
          <small id="school-tip" class="form-text text-muted">
            学校を入力してください
          </small>
        </div>

        <div class="form-group mt-3">
          <%= f.label :people, '人数'%>
          <%= f.text_field :people, class: 'form-control'  %>
          <small id="people-tip" class="form-text text-muted">
            人数を入力してください
          </small>
        </div>

        <div class="form-group mt-3">
          <%= f.label :activeday, '活動頻度' %>
          <%= f.text_field :activeday, class: 'form-control'  %>
          <small id="activeday-tip" class="form-text text-muted">
            活動頻度を入力してください
          </small>
        </div>

        <div class="form-group mt-3">
          <%= f.label :details, '詳細' %>
          <%= f.text_area:details, rows: 10, class: 'form-control' %>
          <small id="details-tip" class="form-text text-muted">
            詳細やリンクを入力してください
          </small>
        </div>


        <%= f.submit '投稿', class: 'btn btn-info btn-block' %>
        <small id="submit-tip" class="form-text text-muted mb-3">
          投稿する前に投稿内容を見直してください!
        </small>
        <% end %>
      </div>
      <div class="col-md-1">

      </div>
    </div>
  </div>
