<div class="container">
  <div class="row">
    <div class="col-md-1">

    </div>
    <div class="col-md-10">
      <h1>投稿詳細ページ</h1>
      <h3 class="text-center">--<%= @post.user.email %>さんの投稿--</h3>
      <div class= "pt-2 mb-3">
        <div class="container-fluid">
          <div class="row align-items-start">
            <div class="col">
              <% if @post.img.present? %>
                <%= image_tag @post.img.url(:thumb), style:'width: 100%' %>
              <% else %>
                <img  src="/nezumi.jpg" alt="画像" class="container-fluid">
               <% end %>
            </div>
            <div class="col pt-3 pb-3">
              <table class="table table-striped table-hover">
                <thead>
                  <tr>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">部活・サークル名</th>
                    <td><%= @post.name %></td>
                  </tr>
                  <tr>
                    <th scope="row">学校</th>
                    <td><%= @post.school %></td>
                  </tr>
                  <tr>
                    <th scope="row">人数</th>
                    <td><%= @post.people %></td>
                  </tr>
                  <tr>
                    <th scope="row">活動頻度</th>
                    <td><%= @post.activeday %></td>
                  </tr>
                  <tr>
                    <th scope="row">詳細</th>
                    <td><%= @post.details %></td>
                  </tr>
                </tbody>
              </table>              
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="text-right">
          <% if @post.user_id == current_user.id %>
          <%= link_to '編集', edit_post_path(@post), class: "btn btn-outline-info" %>
          <%= link_to "削除", "/posts/#{@post.id}/destroy", class: "btn btn-outline-info", method: "post", data: {confirm: "投稿記事を削除しますか？", cancel: "キャンセル", commit: "削除する", title: "削除の確認"}%>
          <% end %>
        </div>
      </div>

      <div class="container-fluid">
        <div class="form-inline">
          <% if current_user.already_liked?(@post) %>
          <%= button_to 'いいねを取り消す', post_like_path(@post), method: :delete, class: "btn btn-outline-danger mr-4 mb-2" %>
          <% else %>
          <%= button_to 'いいね', post_likes_path(@post), class: "btn btn-outline-primary mr-4 mb-2" %>
          <% end %>
          <i class="fa fa-thumbs-up" aria-hidden="true"></i>： <%= @post.likes.count %>
        </div>
      </div>
<hr>
      <h4>いいねしたユーザー</h4>

      <% @post.liked_users.each do |user| %>
      <li class='mb-5'><%= user.email %></li>
      <% end %>
    </div>


  </div>

</div>
<div class="col-md-1">

</div>
</div>
